/* styles/Navbar.module.css */

.navbar {
    padding: 20px 25px;
    background-image: url(https://angular.envytheme.com/tanus/assets/images/banners/banner-bg2.jpg);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure navbar is above other content */
  }


  .defaultButton {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(91, 20, 206);
    margin-top: 10px;
}

.defaultButton:hover {
    background-color: white;
    color: #17022e;
}
  
  .nav-item1 {
    margin-top: 0.2cm;
  }
  
  .defaultButton1  {
    color: white;
    font-size: large;
    
    color: white;
    
    text-decoration: none;
    padding: 0.3cm 0.5cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
  }
  
  .defaultButton1:hover {
    text-decoration: none;
    color: rgb(65, 21, 187);
  }
  